@font-face {
  font-family: 'Mouse';
  src: url('startedbyamouse.ttf')  format('truetype')
}

@font-face {
  font-family: 'BarcelonaBold';
  src: url('BarcelonaBold.ttf')  format('truetype')
}

body {
	background-color: #d9a888;
	width: 100vw;
	height: 100vh;
}

header {
	font-family: 'Mouse', Fallback, sans-serif;
	font-size: 10rem;
	text-align: center;
	color: #2a523d;
	line-height: normal;

	box-shadow: 0px 11px 27px -4px rgba(0,0,0,0.35);
}

.park-hours-container {
    padding: 1rem 1rem;
    box-shadow: 0px 11px 27px -4px rgba(0,0,0,0.35);
    color:  #fff;
    font-family: 'BarcelonaBold';
}

.park-hours-container .green-container {
	height: 104px;
	background-image: url(./green-box-light.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
}

.time-container {
	font-size: 2rem;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.park-hours-container .title {
	font-size: 3rem;
}

.attractions-header-container {
	display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    color: white;
	font-family: 'BarcelonaBold';
	color: #2a523d;

	box-shadow: 0px 11px 27px -4px rgba(0,0,0,0.35);
}

.attraction-header-title {
	display: flex;
    justify-content: space-around;
    align-items: center;
}

.attraction-header-title .title-text {
	font-size: 3rem;
}

.attraction-header-title .flourish img {
	width: 50px;
}

.attraction-header-subtitle {
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}